<!DOCTYPE html>

<html>
  <head>
    <title>Poll Admin Page</title>
      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/admin.css" type="text/css" />
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
<body>
  <section class="result-bar">
    <div class="span6">
      <h5>Question</h5>
      <% for (var i = 0; i < descriptions.length; i++) { %>
       <strong><%= descriptions[i].description %></strong><span class="pull-right"><%= scores[i] %></span>
        <div class="progress progress-striped active">
          <div class="bar" style="width: <%= scores[i] %>%;"></div>
        </div>
      <% } %>
  </section>
  <section class="links">

  </section>
</body>
</html>
