<!-- HOW DATA SHOULD BE ACCESSED
<h1>Poll Admin Page</h1>

<% for (var i = 0; i < descriptions.length; i++) { %>
  <p><%= descriptions[i].description %> : <%= scores[i] %></p>
<% } %> -->

<!DOCTYPE html>

<html>
  <head>
    <title>Poll Admin Page</title>
      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/admin.css" type="text/css" />
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
<body>
  <section class="result-bar">
    <div class="span6">
      <h5>Question</h5>
      <strong>Option 1</strong><span class="pull-right">30%</span>
      <div class="progress progress-striped active">
        <div class="bar" style="width: 30%;"></div>
      </div>
      <strong>Option 2</strong><span class="pull-right">40%</span>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 40%;"></div>
        </div>
      <strong>Option 3</strong><span class="pull-right">10%</span>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 10%;"></div>
        </div>
    </div>
  </section>
  <section class="links">

  </section>
  <section class="send-email">
  	<form action="/polls/<%= pollId %>/admin" method="POST">
  		<button class="send-email-btn">Send Email</button>
  	</form>
  </section>
</body>
</html>
