<!DOCTYPE html>

<html>
	<head>
		<title>New Poll</title>
		  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
	    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
	    <link rel="stylesheet" href="/styles/new_poll.css" type="text/css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
	    <script type="text/javascript" src="/scripts/app.js"></script>
	    <script type="text/javascript" src="/scripts/new_poll.js"></script>
	</head>
	<body>
    <div class="error"></div>
    <div class="userinfo">
		  <form action="/users" method="POST">
        <div class="form-group emailbox">
          <label for="email">Email address:</label>
          <input type="email" class="form-control email">
        </div>
        <div class="form-group usernamebox">
          <label for="username">Name:</label>
          <input type="text" class="form-control username">
        </div>
        <button type="submit" class="btn btn-default submitbutton">Start!</button>
      </form>
    </div>
    <form class="polls" action="/polls" method="POST">
      <section class="poll-form">
        <div class="input-group mb-3 question-box">
          <span class="input-group-text" id="inputGroup-sizing-default">Question</span>
          <input type="text" class="form-control question" placeholder="Please Ask Any Question" aria-label="" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 option-box">
          <span class="input-group-text option-title" id="inputGroup-sizing-default">Option 1</span>
          <input type="text" class="form-control option-input" placeholder="Option" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary delete-option" type="button">Delete</button>
        </div>
      </div>
      <div class="input-group mb-3 option-box">
        <span class="input-group-text option-title" id="inputGroup-sizing-default">Option 2</span>
          <input type="text" class="form-control option-input" placeholder="Option" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary delete-option" type="button">Delete</button>
        </div>
      </div>
      </section>
      <div class="input-group-append add-box">
        <button class="btn btn-outline-secondary add-option" type="button">Add more options</button>
      </div>
      <a href="/" class="btn submit-btn">Submit</a>
    </form>
	</body>
</html>
