<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- jQuery UI CDN -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="/scripts/voting.js"></script>
  <title>Voting</title>
  <script>
    $( function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    } );
    </script>
</head>
<body>
  <h1><%= question %></h1>

  <form action="/polls/<%= id %>" method="POST">
    <ul id="sortable">
      <% options.forEach((option) => { %>
        <li data-id="<%= option.id %>"class="ui-state-default"><%= option.description %></li>
      <%  }) %>
    </ul>
    <button class="send-vote">Submit</button>
  </form>

</body>
</html>