$baseColor: #353866;
$supportColor: #9EBEDE;
$baseFont: 'Helvetica', sans-serif;
$break-small: 320px;


body {
  margin: 0;
  font-family: $baseFont;
  text-transform: uppercase;
  background: url("/images/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  .page-footer{
   position: absolute;
   bottom: 0;
   width:100%;
   height: 5vh; 
   background: #fff;
   font-weight: bold;
   padding: 10px;
    a {
      text-decoration: none;
      color: inherit;
    }

  }
}


 .userinfo {
  display: flex;
  width: 25vw;
  margin: 10% auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  // border-radius: 20px;
  // padding: 10px 20px;
  // box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.75);
  background-color: white;


  div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;

      input{
          width: 20vw;
          align-self: flex-end;
          border: none;
          border-bottom: 1px solid #ccc;
          padding: 15px;
          text-align: center;
          box-sizing: border-box;
          // font-size: 100%;
      }
  }
  .submitbutton {
      margin-top: 7vh;
      margin-bottom: 5vh;
      width: 20vw;
      height: 10vh;
      padding: 15px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 100%;
      background-color: $baseColor;
      // border-radius: 10px;
      border: 1px solid #ccc;
      &:hover{
          background-color: $supportColor;
      }
  }
}




.polls {
  display:none;
  text-align: center;

  .poll-form{
            display: flex;
            margin: 5vh auto;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            border: 1px solid #cccccc;
            border-radius: 4px;
            // box-sizing: border-box;
            width: 40vw;
            background-color: white;
            text-align: center;

            .question-box {
              font-weight: bold;
              width: 25vw;
              text-align: center;
              margin: 2vh auto;
              

              .new-poll-question{
                font-size: 1.5vw;
                font-weight: bold;
              }

              .question {
                margin-top: 20px;
                width: 25vw;
                border-radius: 0;

                @media only screen and (max-width: 960px) {
                  width: 23vw;
                }

              }

            }

            .option-box {
              display: grid;
              grid-gap: 10px;
              grid-template-columns: 5vw 13vw 5vw;
              width: 25vw;
              margin: 20px;
              align-items: center;
              font-weight: bold;
              // justify-content: space-between;

              @media only screen and (max-width: 960px) {
                grid-template-columns: 23vw;
              }
              
              span {
                display: inline-block;
                grid-column: 1;
                grid-row: 1;
                

                @media only screen and (max-width: 960px) {
                  grid-column: 1;
                  grid-row: 1;
                }
              }

              .option-input {
                width: 13vw;
                grid-column: 2;
                grid-row: 1;

                @media only screen and (max-width: 960px) {
                  grid-column: 1;
                  grid-row: 2;
                  width: 23vw;
                }

              }

              .option-info {
                width: 13vw;
                display: block;
                grid-column: 2;
                grid-row: 3;
                height: 8vh;
                word-break: break-all;


                @media only screen and (max-width: 960px) {
                  grid-column: 1;
                  grid-row: 3;
                  width: 23vw;
                }
              }

              .input-group-append {
                grid-column: 3;
                grid-row: 1;

                @media only screen and (max-width: 960px) {
                  grid-column: 1;
                  grid-row: 4;
                }
              }
            }

            .delete-option {
              background-color: $baseColor;
              color: #fff;
              margin-left: 10px;
              width: 5vw;
              border-radius: 0;
              display: none;

              @media only screen and (max-width: 960px) {
                width: 23vw;
                margin: 0;
              }
            }
  }

  .add-box {
    width: 40vw;
    margin: 10px auto;
    text-align: center;


    .add-option {
      border-radius: 50%;
      background-color: $supportColor;
      width: 50px;
      height: 50px;
      &:hover {
        background-color: $baseColor;
      }

      i {
        color: #fff;
      }
    }

   }
}

  .submit-btn {
    background-color: $baseColor;
    color: #fff;
    width: 20vw;
    height: 10vh;
    margin: 10px auto;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    &:hover{
      background-color: $supportColor;
    }

    i {
      color: #fff;
      margin-left: 10px;
    }
  }

  




